<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>存取实验数据</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!--<h1>实验数据</h1>-->


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>


<form action="/srmExperiment" method="POST" enctype="multipart/form-data" >
    <!--    <form  method="POST" enctype="multipart/form-data" >-->
    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            添加试验数据
        </div>
        <div class="card-body">
            <table  border="0" cellspacing="0" align="left">
                <tr width="100">
                    <td >
                        <div class="form-group">
                            <label for="expFile">试验数据文件</label>
                            <input type="file" name="expFile" id="expFile" class="form-control"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td >
                        <div class="form-group">
                            <label for="srmName">试验名称/编号</label>
                            <input type="text" name = "srmName" id="srmName" class="form-control"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td >
                        <input type="submit" id="submitName" class="btn btn-primary btn-large" value = "保存数据文件"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
</body>
<!--<script src="/js/checkSameName.js"></script>-->
</html>