<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>数据处理</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form method="post" >
    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            选择要进行的操作
        </div>
        <div class="card-body">
            <table width="300" align="center">
<!--                <tr height="60" id="first">-->
<!--                    <td >-->
<!--                        <a><input type="button" class="btn btn-secondary btn-lg btn-block" id="chart" value="查看曲线"/></a>-->
<!--                        <input  type="hidden" id="pkId"  th:value="${srmModel.pkId}">-->
<!--                    </td>-->
<!--                </tr>-->
                <tr height="60">
                    <td >
                        <a><input type="button" class="btn btn-secondary btn-lg btn-block" id="pressureChart" value="查看P-t曲线"/></a>
                        <input  type="hidden" id="pkId"  th:value="${srmModel.pkId}">
                    </td>
                </tr>
                <tr height="60">
                    <td >
                        <a><input type="button" class="btn btn-secondary btn-lg btn-block" id="forceChart" value="查看F-t曲线"/></a>
                    </td>
                </tr>
                <tr height="60">
                    <td >
                        <a> <input type="button" class="btn btn-secondary btn-lg btn-block" id="smooth" value="滤波"/></a>
                    </td>
                </tr>
                <tr height="60">
                    <td >
                        <a th:href="@{'/toFile'+${srmModel.pkId}}"><input type="button" class="btn btn-secondary btn-lg btn-block" id="toFile" value="保存到文件"/></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!--        要查看的数据：<input  id="Id"  >-->
        <!--        <input text="${srmModel.id1}">-->
<!--        <button type="button" id="drawChart" >查看</button>-->
<!--        <input  type="hidden" id="pkId"  th:value="${srmModel.pkId}">-->
    </form>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
<!--                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 曲线图-->
                    <div id="container" style="height: 400px; max-width: 800px; margin: 0 auto"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
<!--                    <button type="button" class="btn btn-primary" id="saveSmoothData">保存到文件</button>-->
                </div>
            </div>
        </div>
    </div>

</div>


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/highcharts/highcharts.js"></script>
<script src="/js/highcharts/exporting.js"></script>
<script src="/js/highcharts/series-label.js"></script>
<script src="/js/highcharts/oldie.js"></script>
<script src="/js/highcharts/boost.js"></script>

<!--<script>-->
<!--    $('#chart').click(function () {-->
<!--        $('#chart').attr({"disabled":"disabled"});-->
<!--        $("<tr height=\"40\">\n" +-->
<!--            "                    <td align='center'>\n" +-->
<!--            "                        <a><input type=\"button\" class=\"btn btn-secondary btn-large btn-secondary\" id=\"pressureChart\" value=\"查看P-t曲线\"/></a>\n" +-->
<!--            "                    </td>\n" +-->
<!--            "                </tr>+                " +-->
<!--            "<tr height=\"40\">\n" +-->
<!--            "                    <td align='center'>\n" +-->
<!--            "                        <a><input type=\"button\"  class=\"btn btn-secondary btn-large btn-secondary\" id=\"forceChart\" value=\"查看F-t曲线\"/></a>\n" +-->
<!--            "                    </td>\n" +-->
<!--            "                </tr>\n"-->
<!--        ).insertAfter("#first");-->
<!--    })-->
<!--    $('#pressureChart').click(function(){-->
<!--        // alert("drawChart按钮按下");-->
<!--        // $('#exampleModal').modal('toggle');-->
<!--        var pkId=$('#pkId').val();-->
<!--        $.ajax({-->
<!--            url:"/getChartData",-->
<!--            type:"post",-->
<!--            dataType:"json",-->
<!--            data:"pkId="+pkId,//传到后端-->
<!--            async:false,-->

<!--            success:function(data){-->
<!--                // alert("drawChart执行");-->
<!--                $('#exampleModal').modal('toggle');-->
<!--                // drawChart(data.t, data.p, "p");-->
<!--                var chart = Highcharts.chart('container', {-->
<!--                    title: {-->
<!--                        text: '内弹道'-->
<!--                    },-->
<!--                    boost: {-->
<!--                        useGPUTranslations: true-->
<!--                    },-->
<!--                    subtitle: {-->
<!--                        text: '原始数据'-->
<!--                    },-->
<!--                    xAxis: {-->
<!--                        categories: data.t-->
<!--                    },-->
<!--                    yAxis: {-->
<!--                        title: {-->
<!--                            text: "P/MPa"-->
<!--                        }-->
<!--                    },-->
<!--                    legend: {-->
<!--                        layout: 'vertical',-->
<!--                        align: 'right',-->
<!--                        verticalAlign: 'middle'-->
<!--                    },-->

<!--                    series: [{-->
<!--                        name: yname,-->
<!--                        data: data.p-->
<!--                    }],-->
<!--                    responsive: {-->
<!--                        rules: [{-->
<!--                            condition: {-->
<!--                                maxWidth: 500-->
<!--                            },-->
<!--                            chartOptions: {-->
<!--                                legend: {-->
<!--                                    layout: 'horizontal',-->
<!--                                    align: 'center',-->
<!--                                    verticalAlign: 'bottom'-->
<!--                                }-->
<!--                            }-->
<!--                        }]-->
<!--                    }-->
<!--                });-->
<!--            },-->
<!--            error:function () {-->
<!--                alert("获取数据失败");-->
<!--            }-->

<!--        });-->
<!--    })-->

<!--    $('#forceChart').click(function(){-->
<!--        // alert("drawChart按钮按下");-->
<!--        // $('#exampleModal').modal('toggle');-->
<!--        var pkId=$('#pkId').val();-->
<!--        $.ajax({-->
<!--            url:"/getChartData",-->
<!--            type:"post",-->
<!--            dataType:"json",-->
<!--            data:"pkId="+pkId,//传到后端-->
<!--            async:false,-->

<!--            success:function(data){-->
<!--                // alert("drawChart执行");-->
<!--                $('#exampleModal').modal('toggle');-->
<!--                var chart = Highcharts.chart('container', {-->
<!--                    title: {-->
<!--                        text: '内弹道'-->
<!--                    },-->
<!--                    boost: {-->
<!--                        useGPUTranslations: true-->
<!--                    },-->
<!--                    subtitle: {-->
<!--                        text: '原始数据'-->
<!--                    },-->
<!--                    xAxis: {-->
<!--                        categories: data.t-->
<!--                    },-->
<!--                    yAxis: {-->
<!--                        title: {-->
<!--                            text: "F/kN"-->
<!--                        }-->
<!--                    },-->
<!--                    legend: {-->
<!--                        layout: 'vertical',-->
<!--                        align: 'right',-->
<!--                        verticalAlign: 'middle'-->
<!--                    },-->

<!--                    series: [{-->
<!--                        name: "f",-->
<!--                        data: data.f-->
<!--                    }],-->
<!--                    responsive: {-->
<!--                        rules: [{-->
<!--                            condition: {-->
<!--                                maxWidth: 500-->
<!--                            },-->
<!--                            chartOptions: {-->
<!--                                legend: {-->
<!--                                    layout: 'horizontal',-->
<!--                                    align: 'center',-->
<!--                                    verticalAlign: 'bottom'-->
<!--                                }-->
<!--                            }-->
<!--                        }]-->
<!--                    }-->
<!--                });-->
<!--            },-->
<!--            error:function () {-->
<!--                alert("获取数据失败");-->
<!--            }-->

<!--        });-->
<!--    })-->

<!--    function drawChart(xdata, ydata, yname){-->
<!--        var chart = Highcharts.chart('container', {-->
<!--            title: {-->
<!--                text: '内弹道'-->
<!--            },-->
<!--            boost: {-->
<!--                useGPUTranslations: true-->
<!--            },-->
<!--            subtitle: {-->
<!--                text: '原始数据'-->
<!--            },-->
<!--            xAxis: {-->
<!--                categories: xdata-->
<!--            },-->
<!--            yAxis: {-->
<!--                title: {-->
<!--                    text: yname-->
<!--                }-->
<!--            },-->
<!--            legend: {-->
<!--                layout: 'vertical',-->
<!--                align: 'right',-->
<!--                verticalAlign: 'middle'-->
<!--            },-->

<!--            series: [{-->
<!--                name: yname,-->
<!--                data: ydata-->
<!--            }],-->
<!--            responsive: {-->
<!--                rules: [{-->
<!--                    condition: {-->
<!--                        maxWidth: 500-->
<!--                    },-->
<!--                    chartOptions: {-->
<!--                        legend: {-->
<!--                            layout: 'horizontal',-->
<!--                            align: 'center',-->
<!--                            verticalAlign: 'bottom'-->
<!--                        }-->
<!--                    }-->
<!--                }]-->
<!--            }-->
<!--        });-->
<!--    }-->

<!--</script>-->

<script src="/js/drawChart.js"></script>
<script src="/js/smoothData.js"></script>
<!--<script src="/js/saveToFile.js"></script>-->


</body>
</html>