<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>查找试验数据</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<div class="card card-outline-secondary my-4">
    <div class="card-header">
        查找试验数据
    </div>
    <div class="card-body">
        <table width="300" align="center">
            <tr height="60">
                <td>
                    <a href="/listAll" >
                        <input  type="button" class="btn btn-secondary btn-lg btn-block" value = "查询所有试验数据" />
                    </a>
                </td>
            </tr>
            <tr height="60">
                <td>
                    <a href="/findByName">
                        <input  type="button" class="btn btn-secondary btn-lg btn-block" value = "根据名字查询数据"/>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>


<!--<h1 align="center">查找实验数据</h1>-->
<!--<table align="center" width="500" >-->
<!--    <tr height="100">-->
<!--        <td>-->
<!--            <a href="/listAll" >-->
<!--                <input  type="button" class="btn btn-primary btn-lg btn-block" value = "查询所有试验数据" />-->
<!--            </a>-->
<!--        </td>-->
<!--    </tr>-->
<!--    <br>-->
<!--    <tr height="100">-->
<!--        <td>-->
<!--            <a href="/findByName">-->
<!--                <input  type="button" class="btn btn-primary btn-lg btn-block" value = "根据名字查询数据"/>-->
<!--            </a>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
<!--<div>-->
    <!--                <button type="button" class="btn btn-primary btn-lg" >Large button</button>-->
    <!--                <br>-->

<!--</div>-->

</body>
</html>