<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="${base}resource/css/bootstrap.min.css">
    <script src="${base}resource/js/jquery.min.js"></script>
    <script src="${base}resource/js/bootstrap.min.js"></script>

</head>
<frameset rows="80,*">
    <frame name="top" src="">
    <frameset cols="150,*">
        <frame name="left" src="choise">
        <frame name="right" src="">
    </frameset>
</frameset>

<!--<body>-->
<!--<script src="/js/jquery.min.js"></script>-->
<!--<script src="/js/bootstrap.bundle.min.js"></script>-->
<!--&lt;!&ndash;<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-3 nav">&ndash;&gt;-->
<!--&lt;!&ndash;    <ul>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>我的足迹</li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>沿途风景</li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>旅行攻略</li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;    <ul class="nav1">&ndash;&gt;-->


<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div id="main-container">-->
<!--    <div id="sidebar" class="col-md-2 column">-->
<!--        &lt;!&ndash; 创建菜单树 &ndash;&gt;-->
<!--        <div class="col-md-12">-->
<!--                <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">-->
<!--                    <li>-->
<!--                        <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">-->
<!--                            <i class="glyphicon glyphicon-cog"></i>index-->
<!--                               <span class="pull-right glyphicon glyphicon-chevron-down"></span>-->
<!--                        </a>-->
<!--                        <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">-->
<!--                            <li><a href="#" ><i class="glyphicon glyphicon-user"></i>aaa</a></li>-->
<!--                            <li><a href="#" ><i class="glyphicon glyphicon-th-list"></i>bbb</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                   -->
<!--                </ul>-->
<!--        </div>-->

<!--    </div>-->
<!--    <div class="col-md-10 column">-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
</html>