<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>存取实验数据</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!--<h1>实验数据</h1>-->


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<h3 align="center">修改数据</h3>

<form action="/modifyName" th:action="@{/modifyName}" method="POST" enctype="multipart/form-data" th:object="${srmModel.srmExperiment}" >
    <!--    <form  method="POST" enctype="multipart/form-data" >-->

    <div >
        <table  border="0" cellspacing="0" align="center">

            <tr>
<!--                <td height="50" align="right">数据文件：</td>-->
                <td>
                    <input type="text" name="expTime" id="expTime" th:value="${srmModel.srmExperiment.expTime}"  />
                    <input type="text" name="expPressure" th:value="${srmModel.srmExperiment.expPressure}"  />
                    <input type="text" name="expForce" th:value="${srmModel.srmExperiment.expForce}"  />
                    <input type="text" name="pkId" th:value="${srmModel.srmExperiment.pkId}" />
                    <input type="text" name="gmtCreate" th:value="${srmModel.srmExperiment.gmtCreate}" />
                </td>
            </tr>
            <tr  align="center" >
                <td height="50" align="right">试验编号：</td>
                <td align="left"> <input type="text" name = "srmName" id="srmName" th:value="${srmModel.srmExperiment.srmName}"/> </td>
            </tr>
        </table>
        <table align="center">
            <tr>
                <!--                <td align="right">-->
                <!--                    <input  type="submit" class="btn btn-primary btn-lg" value = "检测数据是否存在" />-->
                <!--                </td>-->
                <td colspan="2">
                    <input type="submit" id="submitName" class="btn btn-primary btn-lg" value = "保存修改"/>
                    <!--                    <button type="button" id="submitName" class="btn btn-primary btn-lg" value = "保存数据文件"/>-->
                </td>
            </tr>
        </table>
    </div>



</form>

</body>
<!--<script src="/js/checkSameName.js"></script>-->
</html>